- @messages.each do |message|
  .message
    %p.message__head
      %span.message__head_name
        = message.user[:name]
      %span.message__head_date
        = message.created_at.strftime('%Y/%m/%d %H:%M')
    %p.message__body
      = message.body
      = image_tag message.image_url(:thumb) if message.image_url
