.sidebar
  .userInfo
    %p.userInfo__name
      sato
    %span.userInfo__icon.userInfo__icon_setting
      = link_to "/users/#{current_user.id}/edit" do
        %i.fa.fa-cog
    %span.userInfo__icon.userInfo__icon_makegroup
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o

  - belong_groups.each do |belong_group|
    .groupList
      %a.groupList__link{"href":""}
        %p.groupList__link_name
          #{belong_group.name}
        %p.groupList__link_message
          まだメッセージはありません。
