/ .note
/   %span.note__title
/     チャットグループが作成されました
.main
  .sidebar
    .userInfo
      %p.userInfo__name
        sato
      %span.userInfo__icon.userInfo__icon_setting
        = link_to root_path do
          %i.fa.fa-cog
      %span.userInfo__icon.userInfo__icon_makegroup
        = link_to root_path do
          %i.fa.fa-pencil-square-o
    .groupList
      .groupList__name
        sample
      .groupList__message
        Hi! World!!
    .groupList
      .groupList__name
        sample2
      .groupList__message
        Bye Bye World!!
  .contents
    .threadHead
      .threadHead__info
        .threadHead__info_title
          sample
        .threadHead__info_members
          Members: sato 310
      .threadHead__edit
        %a.threadHead__edit_link{"href":""}
          Edit
    .messages
      .message
        %p.message__head
          %span.message__head_name
            sato
          %span.message__head_date
            2017/07/01 03:10:00
        .message__body
          Hello World!!
      .message
        %p.message__head
          %span.message__head_name
            310
          %span.message__head_date
            2017/07/04 03:10:00
        .message__body
          Hi! World!!
    %form.sendBox
      %input.sendBox__input{"type":"text", "placeholder":"type a message"}
      %label.sendBox__image
        %i.fa.fa-picture-o
        %input{"type":"file", "style":"display:none;"}
      %input.sendBox__btn{"type":"submit", "value":"Send"}
      
