.main {
  @include clearfix;
  min-width: 950px;
}
a {
  display: block;
  text-decoration: none;
}
.note {
  min-width: 950px;
  text-align: center;
  background-color: $blue;
  &__title {
    color: $white;
    line-height: 30px;
    &_alert, &_error {
      background-color: #F4551E;
    }
  }
}
